* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.4rem;
}

.wrapper {
  max-width: 24rem;
  margin: 0 auto;
  width: 90%;
}

.main-container {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  padding: 2rem;
  min-width: 20rem;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.bio-container h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.location-text {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 1.2rem;
}

.about-text {
  color: hsl(0, 0%, 100%);
  white-space: nowrap;
  font-size: 1.1rem;
}

.bio-container img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  width: 70px;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.social-links {
  background-color: hsl(0, 0%, 20%);
  width: 20rem;
  padding: 1rem 0;
  border-radius: 0.4rem;
  font-family: "Inter", sans-serif;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}

/* Use focus for keyboard tab accessibility */
.social-links:hover,
.social-links:focus {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
  color: black;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 26rem;
  }
  .bio-container img {
    width: 80px;
  }

  .social-links {
    width: 21rem;
    font-size: 1.1rem;
  }

  .bio-container h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 1.7rem;
  }

  .location-text {
    font-size: 1.3rem;
  }

  .about-text {
    font-size: 1.2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
.attribution a {
  color: hsl(75, 94%, 57%);
}
